{%- if include.reverse -%}
  {%- assign colrev = include.col | reverse -%}
{%- else -%}
  {%- assign colrev = include.col -%}
{%- endif -%}
{%- for item in colrev -%}
  <section>
    <h1>{{ item.title }}</h1>
    <div>
      By: {{item.author}}, on {{item.date | date: "%-d %B %Y"}}
    </div><hr><div>
      {%- if item.preview -%}
        <img src="{{item.preview}}" alt="{{item.previewalt}}" class="previewimage">
      {%- endif -%}
      {{item.excerpt | markdownify}}<a href="{{item.url}}"><h3>Read more...</h3></a>
    </div>
  </section>
{%- endfor -%}
