<section style="background-color: transparent;">
	<div style="float: left; width: 50%; padding: 0px;">
		<a href="https://www.amazon.com/dp/B09VXDS5VG?ref_=pe_3052080_276849420"><img src="\assets\Buy_the_Book.png" alt="Buy the Book!" style="width: 100%; padding: 0px;"></a>
	</div>
	<div style="float: right; width: 50%; padding: 0px;">
		<a href="https://www.patreon.com/sunderedmarches"><img src="\assets\Patreon-Banner.png" alt="Support us on Patreon!" style="width: 100%; padding: 0px;"></a>
	</div>
</section>
